/* -----------
GENERAL TAG
----------- */

.sectionTitle {
  font-size: var(--fontSize25);
  font-weight: var(--fontWeightBold);
  color: var(--colorBlue);
  text-decoration: underline;
  text-decoration-color: var(--bgAccentColorLow);
  text-decoration-thickness: 8px;
  text-underline-offset: -4px;
  text-decoration-skip-ink: none;
  margin: 48px 0 32px;
}

.sectionSubtitle {
  font-size: var(--fontSize2);
  font-weight: var(--fontWeightSemiBold);
  line-height: var();
  color: var(--colorAccent2);
  margin: 40px 0 24px;
}

.paragraphTitle {
  font-size: var(--fontSize166);
  font-weight: var(--fontWeightSemiBold);
  color: var(--colorAccent);
  margin: 28px 0 20px;
}

.sectionDetailContainer {
  display: flex;
  /* align-items: center; */
  margin-top: 8px;
  margin-bottom: 8px;
}

.serviceLeafIllustration {
  margin-top: 5px;
}

.sectionDetail {
  font-family: var(--fontFamilyOpen);
  font-size: var(--fontSize1);
  font-weight: var(--fontWeightRegular);
  line-height: var(--lineHeight15);
  color: var(--colorSecondary);
  padding-left: 8px;
}