/* -------------------
HERO WHITE BG STYLE
------------------- */

/* .heroContainer {
  height: 100%;
  width: 100%;
  max-width: var(--maxWidth);
  margin-inline: auto;
} */

.updateText {
  font-family: var(--fontFamilyOpen);
  font-size: var(--fontSize125);
  font-weight: var(--fontWeightMedium);
  color: var(--colorAccent);
  text-decoration: underline;
}

.updateIcon {
  font-size: large;
  padding-left: 15px;
  cursor: pointer;
}

.heroWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.txtContainer {
  height: 100%;
  width: 50%;
}

.title {
  font-size: var(--fontSize475);
  font-weight: var(--fontWeightBold);
  line-height: var(--lineHeight80);
  color: var(--colorSecondary);
  padding-top: 48px;
}

.paragraph {
  font-family: var(--fontFamilyOpen);
  font-size: var(--fontSize125);
  font-weight: var(--fontWeightBold);
  line-height: var(--lineHeight2);
  color: var(--colorSecondary);
  padding: 16px 0;

}

.illustartion {
  width: 50%;
}

/* ------------------
HERO BLUE BG STYLE
------------------ */

.heroBlueBgContainer {
  background: var(--bgSecondaryColor);
  margin-top: 48px;
}

.heroWrapperBlueBg {
  /* position: relative; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.txtContainerBlueBg {
  height: 100%;
  width: 60%;
}

.categoryTitle,
.whiteText {
  color: var(--colorPrimary);
}


.categoryTitle {
  width: fit-content;
  position: relative;
  font-size: var(--fontSize2);
  font-weight: var(--fontWeightBold);
  padding-top: 24px;
  padding-inline: 4px;
  z-index: 5;
}

.categoryTitle::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 100%;
  background: var(--bgAccentColor);
  z-index: -1;
  left: 0;
  bottom: 3px;
}

.titleBlueBg {
  font-size: var(--fontSize475);
  font-weight: var(--fontWeightSemiBold);
  line-height: var(--lineHeight80);
  padding-top: 48px;
}

.illustartionBlueBg {
  width: 40%;
}

/* ----------
BREADCRUMB
---------- */

.breadcrumb {
  display: flex;
  column-gap: 20px;
  padding-top: 16px;
  padding-bottom: 40px;
}

.linkBreadcrumb {
  position: relative;
  font-family: var(--fontFamilyOpen);
  font-size: var(--fontSize08);
  font-weight: var(--fontWeightSemiBold);
  line-height: var(--lineHeight1);
  color: var(--colorSecondaryLight);
}

.linkBreadcrumb::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: var(--bgAccentColor2);
  top: 50%;
  right: 0;
  transform: translate(10px,-50%);
}

.linkBreadcrumb:last-child::after {
  content: none;
}

.lastBreadcrumb {
  color: var(--colorSecondaryMedium);
}

/* -------------
MEDIA QUERIES
------------- */

@media (max-width: 1200px) {
  .heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heroWrapper,
  .heroWrapperBlueBg {
    flex-direction: column-reverse;
  }
  .txtContainer,
  .txtContainerBlueBg {
    width: 100%;
  }
  .illustartion {
    height: 100%;
    width: 100%;
  }
  .illustartionBlueBg {
    height: 60%;
    width: 60%;
  }
}

@media (max-width: 760px) {
  .title,
  .titleBlueBg {
    font-size: var(--fontSize375);
    padding-top: 26px;
  }
}

@media (max-width: 630px) {
  .title,
  .titleBlueBg {
    font-size: var(--fontSize25);
    line-height: var(--lineHeight3);
    padding-top: 0;
  }
}

@media (max-width: 500px) {
  .responsivepaddingInline {
    padding-inline: 40px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: var(--fontSize2);
    line-height: var(--lineHeight25);
  }
  .paragraph {
    font-size: var(--fontSize1);
  }
}