.headerContainer {
  height: 100%;
  width: 100%;
  max-width: var(--maxWidth);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  margin-inline: auto;
  column-gap: 50px;
}

/* -------------
MEDIA QUERIES
------------- */

@media (max-width: 1200px) {
  .imgContainer {
    height: 60px;
    width: 160px;
    /* height: auto; */
    /* width: auto; */
  }
}

@media (max-width: 1000px) {
  .headerContainer {
    column-gap: 0;
  }
}

@media (max-width: 360px) {
  .imgContainer {
    height: 40px;
    width: 140px;
  }
}