.headerContainer {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: var(--maxWidth);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  margin-inline: auto;
}