.updateText {
  font-family: var(--fontFamilyOpen);
  font-size: var(--fontSize125);
  font-weight: var(--fontWeightMedium);
  color: var(--colorAccent);
  text-decoration: underline;
}

.updateIcon {
  font-size: large;
  padding-left: 15px;
  cursor: pointer;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}