.eventsContainer {
  margin-top: var(--spaceBetweenSection);
}

.eventsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 64px;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* -------------
MEDIA QUERIES
------------- */

