.eventsContainer {
  margin-top: var(--spaceBetweenSection);
}

.eventsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 64px;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* -------------
MEDIA QUERIES
------------- */

@media (max-width: 1350px) {
  .eventsWrapper {
      row-gap: 53px;
    }
}

@media (max-width: 500px) {
  .eventsContainer {
    padding-inline: 40px;
  }
}

