.sectionContainer {
  position: relative;
  height: 100%;
  width: 100%;
  padding-inline: 80px;
  overflow-x: hidden;
}

.sectionMarginTop {
  position: relative;
  margin-top: var(--spaceBetweenSection);
}

.sectionTitleIllustration {
  position: absolute;
  top: 0;
  left: 15vw;
}

.sectionTitle {
  position: relative;
  width: 60%;
  font-size: var(--fontSize375);
  font-weight: var(--fontWeightBold);
  color: var(--colorSecondary);
  line-height: var(--lineHeight80);
  text-align: center;
  margin-inline: auto;
  margin-bottom: 72px;
}

/* -------------
MEDIA QUERIES
------------- */

@media (max-width: 500px) {
  .homeContainer {
    padding-inline: 40px;
  }
}