.sectionContainer {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.sectionMarginTop {
  position: relative;
  margin-top: var(--spaceBetweenSection);
}

.serviceLeafIllustration {
  position: absolute;
  top: 0;
  left: 25%;
}

.sectionTitle {
  position: relative;
  width: 60%;
  font-size: var(--fontSize375);
  font-weight: var(--fontWeightBold);
  color: var(--colorSecondary);
  line-height: var(--lineHeight80);
  text-align: center;
  margin-bottom: 72px;
}

.sectionTitleMargin {
  margin-inline: auto;
}

/* -------------
ACTU TAGS STYLE
------------- */

.actualiteLeafIllustration {
  position: absolute;
  top: 0;
  left: 42%;
}

.actualiteContainer {
  position: relative;
  height: fit-content;
  width: 100%;
  background: linear-gradient(90deg, var(--bgSecondaryColor) 0%,var(--bgSecondaryColor) 38% ,var(--bgPrimaryColor) 38% ,var(--bgPrimaryColor) 100%);
  margin-top: var(--spaceBetweenSection);
}

.actualiteIllustartion {
  position: absolute;
  top: 0;
  transform:translate(0, -70%);
}

.actualiteTitle {
  position: relative;
  height: fit-content;
  font-size: var(--fontSize1250);
  font-weight: var(--fontWeightMedium);
  line-height: var(--lineHeight224);
  color: var(--colorPrimary);
  writing-mode: vertical-rl;
  text-align: end;
  right: 10vw;
  transform: rotate(180deg);
  /* margin-left: 100px; */
}

.actualiteBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -----------------
EVENTS TAGS STYLE
----------------- */

.eventsContainer {
  position: relative;
  width: 100%;
  display: flex;
  background: linear-gradient(90deg, var(--bgPrimaryColor) 0%,var(--bgPrimaryColor) 80% ,var(--bgSecondaryColor) 20% ,var(--bgSecondaryColor) 100%);
}

.eventsContainer::after,
.eventsContainer::before {
  content: "";
  position: absolute;
  height: 62px;
  width: 100%;
  background: var(--bgPrimaryColor);
}

.eventsContainer::before {
  bottom: 0;
}

.eventsContainer::after {
  top: 0;
}


.textContainer {
  /* width: 70%; */
  z-index: 5;
}

.titleContainer {
  position: relative;
}

.eventLeafIllustration {
  position: absolute;
}

.eventTitle {
  width: 100%;
}

.eventsCardsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  z-index: 1;
}

/* -------------
MEDIA QUERIES
------------- */
@media (max-width: 1350px) {
  .actualiteContainer {
    padding-inline: 80px;
  }
}
@media (max-width: 1170px) {
  .actualiteContainer {
    margin-top: 300px;
  }
  .actualiteTitle {
    font-size: 10rem;
    line-height: 10rem;
  }
}

@media (max-width: 900px) {
  .actualiteTitle {
    font-size: 7rem;
    line-height: 7rem;
  }
}

@media (max-width: 740px) {
  .sectionTitleIllustration {
    height: 15%;
    width: 15%;
    top: -20px;
  }
  .sectionTitle {
    width: 100%;
    font-size: var(--fontSize25);
    line-height: var(--lineHeight3);
    margin-inline: 0;
    text-align: center;
  }
  .serviceLeafIllustration,
  .actualiteLeafIllustration {
    height: 70px;
    width: 70px;
  }
  .actualiteTitle {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 500px) {
  .responsivepaddingInline {
    padding-inline: 40px;
  }
  .sectionTitle {
    font-size: var(--fontSize166);
    line-height: var(--lineHeight2);
  }
  .sectionTitleIllustration {
    height: 10%;
    width: 10%;
  }
  .actualiteContainer {
    margin-top: 250px;
  }
  .actualiteTitle {
    font-size: 5rem;
  }
  .actualiteIllustartion {
    height: 250px;
    width: 300px;
    left: 0;
  }
}