.navNontainer {
  height: 100%;
  width: 78%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navContent {
  font-size: var(--fontSize11);
  font-weight: var(--fontWeightSemiBold);
  cursor: pointer;
}