
/* -------------
GENERAL STYLE 
------------- */

.txtColor {
  color: var(--colorPrimary);
}

/* --------
TAG STYLE 
-------- */

.signInContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bgSecondaryColor);
  padding-inline: 80px;
  padding-bottom: 60px;
  overflow-x: hidden;
}

.signInLogo {
  height: 15vh;
  width: 100%;
  margin: 60px 0;
}

.signInWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: var(--maxWidth);
}

.signInForm {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
}

.txtTitle {
  font-size: var(--fontSize375);
  font-weight: var(--fontWeightBold);
  line-height: var(--lineHeight80);
}

.txtParagraphe {
  font-family: var(--fontFamilyOpen);
  font-size: var(--fontSize1);
  font-weight: var(--fontWeightBold);
  line-height: var(--lineHeight15);
  padding-top: 24px;
}

.inputContainer {
  position: relative;
  width: fit-content;
  margin-top: 58px;
}

.label {
  position: absolute;
  font-family: var(--fontFamilyOpen);
  color: var(--colorSecondaryLight);
  background: var(--InputSecondaryColor);
  margin-left: 12px;
  padding-inline: 5px;
  top: -2px;
  transform: translateY(-50%);
  z-index: 5;
}

.input {
  /* position: relative; */
  outline: none;
  height: 40px;
  width: 400px;
  font-family: var(--fontFamilyOpen);
  font-size: var(--fontSize1);
  font-weight: var(--fontWeightRegular);
  color: var(--colorPrimary);
  border-radius: 5px;
  border: 1px solid var(--InputPrimaryColor);
  background: none;
  padding: 8px 16px;
}

.input:focus {
  border: 2px solid var(--InputColorAccent);
}

.input::placeholder {
  color: var(--colorPrimary);
}

.eyeIcon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
}

.txtQuestion {
  width: fit-content;
  font-family: var(--fontFamilyOpen);
  font-size: var(--fontSize1);
  font-weight: var(--fontWeightBold);
  color: var(--colorAccent);
  padding-top: 12px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.txtQuestion:hover {
  transform: scale(1.1);
}

.illustartion {
  position: absolute;
  right: -10%;
  top: 50%;
  transform: translateY(-50%);
}

.txtGoHomeLink {
  position: relative;
  width: fit-content;
  font-family: var(--fontFamilyOpen);
  font-size: var(--fontSize1);
  font-weight: var(--fontWeightMedium);
  line-height: var(--lineHeight15);
  padding-top: 24px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.txtGoHomeLink::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background: var(--bgAccentColor2);
  left: 0;
  bottom: 0;
  transition: all .2s ease-in-out;
}

.txtGoHomeLink:hover {
  transform: scale(1.1);
}

.txtGoHomeLink:hover::after {
  width: 100%;
}

.arrowIcon {
  padding-right: 12px;
}