:root {

  /* -------------
  GENERAL VARIABLE 
  ---------------- */
  --bgPrimaryColor: #f4f5f7;

  /* -------------
  TXT VARIABLE 
  ---------------- */

  --fontSize1: 1rem;
  --fontSize11: 1.1rem;
  --fontSize12: 1.2rem;

  --fontWeightSemiBold:600;

  /* --lineHeight20:20; */

  --colorPrimary: #f4f5f7;

  /* -------------
  BTN VARIABLE 
  ---------------- */
  --BtnPrimaryColor: #070709;
  --BtnAccentColor: #ec6371;
}

